<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our Apps:</h3>
                <p>Download app for Android and iOS mobile phones.</p>
                <div class="app-logo">
                    <img src="/static/images/play-store.png" alt="play-store-logo">
                    <img src="/static/images/app-store.png" alt="app-store-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/static/images/logo-white.png" alt="white-logo">
                <p>Our Purpose is to Sustainably Make the Pleasure and Benefits of Sports Accessible to Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links:</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Posts</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate Program</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us On:</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - The Mink Tribe</br><span>Designed by<a
                    href="https://www.muemablain.wordpress.com/portfolio/" style="color:#ff523b" target="_blank">
                    Blain Muema</a></span></p>
    </div>
</div>