<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/"><img alt="logo" src="/static/images/logo.png" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/product.html">Products</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/account.html">Account</a></li>
            </ul>
        </nav>
        <a href="/cart.html"><img src="/static/images/cart.png" width="30px" height="30px"></a> <!--Cart image-->
        <img src="/static/images/menu.png" class="menu-icon" onclick="menutoggle()"> <!--Menu image-->
    </div>
</div>